<div class="flex justify-content-center mt-4 mb-4 relative">
  <div class="w-full absolute colorful-bg top-0 left-0 h-full"></div>
  <img src="logo2.webp" height="200px" class="border-circle z-3" />
</div>
<div class="flex justify-content-center align-content-center">
  <div class="flex text-5xl font-bold text-blue-50 relative text-center">
    <span class="colorful-text">
      {{ "think_first" | translate }}
    </span>
  </div>
</div>

<div class="grid flex justify-content-center mr-2 ml-2">
  <div class="col-12 lg:col-3 md:col-9">
    <p-card
      subheader="我思故我在"
      styleClass="bg-gray-600 text-blue-50 text-center h-full"
    >
      <ng-template pTemplate="header">
        <div class="pt-4">
          <i class="pi pi-crown" style="font-size: 2.5rem"></i>
        </div>
      </ng-template>
      <p>
        笛卡兒，被為近代哲學之始祖認為：我能夠懷疑和思考，這證明了我的存在是確實的，即使我可能懷疑其他一切。
      </p>
    </p-card>
  </div>

  <div class="col-12 lg:col-3 md:col-9">
    <p-card
      subheader="有什麼東西是不可懷疑的嗎"
      styleClass="bg-gray-600 text-blue-50 text-center h-full"
    >
      <ng-template pTemplate="header">
        <div class="pt-4">
          <i class="pi pi-question-circle" style="font-size: 2.5rem"></i>
        </div>
      </ng-template>
      <p>我們以為正確的日常知識都曾被推翻過，像是地球是平的、天鵝沒有黑的</p>
    </p-card>
  </div>
</div>

<div class="grid flex justify-content-center mr-2 ml-2">
  <div class="col-12 lg:col-3 md:col-9">
    <p-card
      subheader="新聞、權威、懶人包是可相信的嗎"
      styleClass="bg-gray-600 text-blue-50 text-center h-full"
    >
      <ng-template pTemplate="header">
        <div class="pt-4">
          <i class="pi pi-hammer" style="font-size: 2.5rem"></i>
        </div>
      </ng-template>
      <p>
        帶著立場、偏見、誤導、毫無因果關係連結的新聞、權威、懶人包到處都是，我們卻不經思考深信不疑而不自知。
      </p>
    </p-card>
  </div>

  <div class="col-12 lg:col-3 md:col-9">
    <p-card
      subheader="有思故有在"
      styleClass="bg-gray-600 text-blue-50 text-center h-full"
    >
      <ng-template pTemplate="header">
        <div class="pt-4">
          <i class="pi pi-graduation-cap" style="font-size: 2.5rem"></i>
        </div>
      </ng-template>
      <p>
        與其相信別人的觀點，不如自己思考、自己想過，整理出自己的脈絡，有了思考，才有了存在的意義
      </p>
    </p-card>
  </div>
</div>

<div class="flex justify-content-center mt-4">
  <p-button
    label="{{ 'start_to_analysis_and_think' | translate }}"
    [routerLink]="['think']"
    [outlined]="true"
    severity="secondary"
  />
</div>
<!-- 思考很麻煩，你告訴我誰是壞人，我們一起打倒他 -->
