<div class="h-50">
  <ng-lottie [options]="options" />
</div>
<div class="flex justify-content-center align-content-center mr-2 ml-2">
  <div class="flex text-5xl font-bold text-blue-50">
    自己想過的事情是騙不了你的
  </div>
</div>

<p-card
  header="為什麼你該自己想過"
  styleClass="bg-gray-600 text-blue-50 text-center mt-4"
>

  <p class="m-0"></p>
</p-card>

<p-card
  header="為什麼自己想過不會騙你"
  styleClass="bg-gray-800 text-blue-50 text-center mt-4"
>
  <p class="m-0">Lorem ipsum dolor sit amet...</p>
</p-card>
<!-- 思考很麻煩，你告訴我誰是壞人，我們一起打倒他 -->
