<p-toolbar
  styleClass="bg-gray-900 shadow-2 border-none text-blue-50"
  [style]="{
    'border-radius': '3rem',
    'background-image':
      'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))'
  }"
>
  <ng-template pTemplate="start">
    <img src="logo2.webp" height="50px" />
    <div class="ml-2">有思故有在</div>
  </ng-template>
  <ng-template pTemplate="center">
    <div class="flex flex-wrap align-items-center gap-3">
      <!-- Think Therefore Be -->
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex flex-wrap align-items-center gap-3">
      <button
        [routerLink]="['']"
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <i class="pi pi-user text-2xl"></i>
      </button>
      <button
        [routerLink]="['think']"
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <i class="pi pi-comments text-2xl"></i>
      </button>
      <button
        [routerLink]="['list']"
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <i class="pi pi-history text-2xl"></i>
      </button>
    </div>
  </ng-template>
</p-toolbar>
