::ng-deep {
  .even {
    & > div {
      flex: 1;
      justify-content: center;
    }
  }

  .direction{
    flex-direction: row;
  }

  @media only screen and (max-width: 768px) {
    .direction {
        flex-direction: column;
    }
  }
}
