<div
  class="flex flex-column flex-wrap gap-3 align-items-center text-blue-50 w-full h-full"
  [formGroup]="askForm"
>
  <div class="text-5xl font-bold mt-8 mb-8">自己想過的事情是騙不了你的</div>
  <div class="flex">
    @if(conversation){

    <div class="card flex justify-content-center">
      <p-card header="問題紀錄（希望可以連度對話）" styleClass="mt-4 max800">
        @for (message of conversation.messages; track $index) {
        <markdown [data]="message.parts[0].text"></markdown>
        }
      </p-card>
    </div>
    } @if (isLoaded) {
    <p-progressSpinner ariaLabel="loading" />
    }@else {
    <div>
      <markdown [data]="answer"></markdown>
    </div>
    }
  </div>
  <div class="card flex justify-content-center">
    <p-selectButton
      [options]="preconditionOptions"
      formControlName="precondition"
      optionLabel="name"
      optionValue="value"
    />
  </div>
  <div class="w-full">
    <app-question-input (askQuestionEvent)="askQuestion($event)"></app-question-input>
  </div>
</div>
