<div
  class="flex flex-column flex-wrap gap-3 align-items-center text-blue-50 w-full h-full"
  [formGroup]="askForm"
>
  <div
    class="flex text-5xl font-bold text-blue-50 relative mt-8 mb-8 pl-4 pr-4"
  >
    <div class="w-full absolute colorful-bg top-0 left-0 h-full"></div>
    <span class="colorful-text">
      {{ "think_first" | translate }}
    </span>
  </div>

  <div class="flex">
    @if (conversation) {

    <div
      class="card flex justify-content-center flex-column pl-4 pr-4 align-items-center"
    >
      @for (message of conversation.messages; track $index;let index = $index) {
      @if (message.role==='model') { @if(index ===1 ||index===3){ @if
      (index===1) {

      <p-card styleClass="mt-4 bg-gray-900 text-white">
        <div class="grid">
          <div class="col-12 lg:col-6 md:col-12 p-2">
            <div class="">
              <img
                src="img/analysis3-pic.webp"
                height="100px"
                class="border-circle"
              />
            </div>
            <markdown
              [data]="conversation.messages[1].parts[0].text"
            ></markdown>
          </div>
          <div class="col-12 lg:col-6 md:col-12 p-2">
            <div class="">
              <img
                src="img/think-pic.webp"
                height="100px"
                class="border-circle"
              />
            </div>

            <markdown
              [data]="conversation.messages[3].parts[0].text"
            ></markdown>
          </div>
        </div>
      </p-card>

      } }@else {
      <p-card styleClass="mt-4 bg-gray-900 text-white  max-w-800">
        <markdown [data]="message.parts[0].text"></markdown>
      </p-card>
      } }@else { @if(index===0){
      <img src="img/question.webp" height="100px" class="border-circle" />
      }
      <markdown [data]="message.parts[0].text" class="max-w-800"></markdown>
      } }
    </div>
    }
  </div>
  <div class="flex">
    @if(isLoading){
    <p-progressSpinner ariaLabel="loading" />}
  </div>
  <div class="card flex justify-content-center">
    <p-selectButton
      [options]="preconditionOptions"
      formControlName="precondition"
      optionLabel="name"
      optionValue="value"
    />
  </div>
  <div class="w-full">
    <app-question-input
      (askQuestionEvent)="askQuestion($event)"
      (newQuestionEvent)="newQuestion()"
    ></app-question-input>
  </div>
</div>
