<div class="grid">
  @for (conversation of (conversationList$|async); track $index) {
  <div class="col-12 lg:col-12 md:col-12">
    <p-card
    header="思考紀錄"
      styleClass="mt-2 bg-gray-900 text-white max-w-800 m-auto"
    >
      <markdown
        [data]="getString(conversation.messages[0].parts[0].text)"
      ></markdown>

      <p-button
        label="前往問題"
        (click)="gotoQuestion(conversation._id)"
        [outlined]="true"
        severity="secondary"
        ></p-button
      >
    </p-card>
  </div>
  }
</div>
<p-paginator
  styleClass="bg-gray-900 text-white"
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="120"
  [rowsPerPageOptions]="[10, 20, 30]"
/>
