/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import "primeicons/primeicons.css";
* {
  font-family: "Noto Sans TC", sans-serif;
}
body {
  //   margin: 0;
  //   padding: 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100vw;
  //   height: 100vh;
  background-color: var(--gray-800);
}

.colorful-text {
  font-size: 4rem !important;
  background: -webkit-linear-gradient(
    0deg,
    #ffa745 0%,
    #fe869f 30%,
    #ef7ac8 45%,
    #a083ed 70%,
    #43aeff 85%
  );
  // background: -webkit-linear-gradient(#1C7CE0, #150051);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5em !important;
}

.colorful-bg{
  background: -webkit-linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  filter: blur(72px);
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0rem transparent;
  border-color: transparent;
}
.max-h-52 {
  max-height: 13rem;
}

.max-h-64 {
  max-height: 16rem;
}

.max-h-96 {
  max-height: 24rem;
}

.max-h-\[200px\] {
  max-height: 200px;
}

.max-h-\[25dvh\] {
  max-height: 25dvh;
}

.max-h-\[28rem\] {
  max-height: 28rem;
}

.max-h-\[600px\] {
  max-height: 600px;
}

.max-h-\[60vh\] {
  max-height: 60vh;
}

.max-h-\[75vh\] {
  max-height: 75vh;
}

.max-h-\[80\%\] {
  max-height: 80%;
}

.max-h-\[80vh\] {
  max-height: 80vh;
}

@media (min-width: 1280px) {
  .xl\:w-\[350px\] {
    width: 350px;
  }
  .xl\:w-\[700px\] {
    width: 700px;
  }
  .xl\:max-w-3xl {
    max-width: 48rem;
  }
  .xl\:max-w-4xl {
    max-width: 56rem;
  }
  .xl\:max-w-6xl {
    max-width: 72rem;
  }
  .xl\:max-w-\[48rem\] {
    max-width: 48rem;
  }
  .xl\:max-w-xl {
    max-width: 36rem;
  }
  .xl\:max-w-xs {
    max-width: 20rem;
  }
  .xl\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .xl\:pt-10 {
    padding-top: 2.5rem;
  }
}
